
td, th {
    padding: 4px;
  } 
tr:hover {
    background-color: #4d4a4a;
  }

.table-sortable th {
    cursor: pointer;
  }
  
.table-sortable .th-sort-asc::after {
    content: "\25b4";
  }
  
.table-sortable .th-sort-desc::after {
    content: "\25be";
  }

.table-scroll {
    border-radius: .5rem;
  }
  
.table-scroll table thead th {
    font-size: 1.25rem;
  }