<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
    <meta charset="UTF-8">
    <title>Pocetna stranica</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<style>
  .page_margin{
    margin: 10px;
   }

  li {
    list-style-type: none;
    float: left;
  }
  
  li a {
    padding: 14px;
    font-size: 17px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #5FEDFA;
    color: white;
  }    
</style>
<body>
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
    <ul class="nav nav-tabs mx-auto">
      <li class="nav-item">
        <a class="nav-link active" href="">Home</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'main:unos' %}">Unos podataka</a>
      </li>
      
      {% if not is_superuser %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'main:user' %}">Korisnička stranica</a>
      </li>
      {% endif %}

      <li class="nav-item">
        <form class="form-inline my-2 my-lg-0 ml-4" method="GET" action="{% url 'main:book-search' %}">
          {% csrf_token %}
          <select class="form-control" name="search_type">
            <option value="title">Naziv knjige</option>
            <option value="author">Autor</option>
          </select>
          <input class="form-control mr-sm-2" type="search" placeholder="Pretraga" aria-label="Search" name="search_term">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pretraga</button>
        </form>
      </li>

      {% if is_superuser %}
      <li class="nav-item">
        <a class="nav-link ml-4" href="{% url 'main:admin-page' %}">Svi korisnici (admin stranica)</a>
      </li>
      {% endif %}

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Registracija
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
         <a class="dropdown-item" href="{% url 'main:register' %}">Korisnik</a>
         <a class="dropdown-item" href="{% url 'main:register_superuser' %}">Admin</a>
        </div>
      </li> 

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Postavke (ne radi)
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
         <a class="dropdown-item" href="">Pormjena korisničkog imena</a>
         <a class="dropdown-item" href="">Pormjena email adrese imena</a>
         <a class="dropdown-item" href="">Pormjena lozinke</a>
        </div>
      </li> 

      {% if uid %}
      <li class="nav-item">
        <a class="nav-link" style="color: red;" href="{% url 'main:logout' %}">Log out</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'main:login' %}">Log in</a>
      </li>
      {% endif %}
    </ul>
  </div>
  </nav>

<main class="page_margin">
  {% if username %}
   <h5>Korisnik: {{username}}</h5>
  {% endif %}
  <hr>
  <lable for="book_per_page"> Prikaz: 
    <select name="books" id="book_per_page">
      <option value="">--Odabir--</option>
      <option value="10">10</option>
      <option value="25">25</option>
      <option value="50">50</option>
    </select>
    knjiga po stranici (trenutno ne radi)
  </lable>
  <br><br>

 <table class="table table-hover table-sortable">
  <thead class="thead-light">
    <tr>
      <th title="Shows the book ID number">ID</th>
      <th title="Shows the book title">Title</th>
      <th title="Shows the the name of the book's author">Author</th>
      <th title="Shows the book's publisher">Publisher</th>
      <th title="Shows the book genre(s)">Genre</th>
      <th title="Shows the country of the author">Country</th>
      <th title="Shows the year the book was published">Year</th>
    </tr>
  </thead>
  <tbody>
    {% for book in books %}
    <tr>
      <td><a href="{% url 'main:book-show' book.ID %}" style="color: inherit;">{{ book.ID }}</a></td>
      <td><a href="{% url 'main:book-show' book.ID %}" style="color: inherit;">{{ book.Title }}</a></td>
      <td><a href="{% url 'main:books-by-author' author=book.Author %}" style="color: inherit;">{{ book.Author }}</a></td>

      {% if book.Publisher == "No publisher" %}
      <td>{{ book.Publisher }}</td>
      {% else %}
      <td><a href="{% url 'main:books-by-publisher' publisher=book.Publisher %}" style="color: inherit;">{{ book.Publisher }}</a></td>
      {% endif %}
      
      <td>{{ book.Genre }}</td>
      <td>{{ book.Country }}</td>
      <td>{{ book.Year }}</td>
    </tr>
    {% endfor %}
  </tbody>
 </table>
 
</main> 
 <script src="{% static 'sort_table.js' %}"></script>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>